<%- include("partials/header"); -%>
<div class="jumbotron centered">
    <div class="home-container">
      <h1 class="display-3">Home</h1>
      <h3>Welcome to your Daily journal</h3>
      <p class="home-p">Where all your daily routine can be saved</p>
      <div>
        <a class="btn btn-light btn-lg" href="/signup" role="button">Sign Up</a>
        <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
      </div>
  
    </div>
  </div>
<%- include("partials/footer"); -%>